<div id="mainBody">
  <div class="container">
    <div class="row">
      <!-- Sidebar ================================================== -->
      <app-sidebar></app-sidebar>
      <!-- Sidebar end=============================================== -->
      <div class="span9">
        <ul class="breadcrumb">
          <li><a routerLink="/">Home</a> <span class="divider">/</span></li>
          <li class="active">Searched Product</li>
        </ul>
        <h3>Searched Products</h3>
        <hr class="soft" />
        <form class="form-horizontal span6">
          <div class="control-group">
            <label class="control-label alignL">Sort By </label>
            <select>
              <option>Product name A - Z</option>
              <option>Product name Z - A</option>
              <option>Product Stoke</option>
              <option>Price Lowest first</option>
            </select>
          </div>
        </form>

        <div id="myTab" class="pull-right">
          <a href="#listView" data-toggle="tab"
            ><span class="btn btn-large"><i class="icon-list"></i></span
          ></a>
          <a href="#blockView" data-toggle="tab"
            ><span class="btn btn-large btn-primary"
              ><i class="icon-th-large"></i></span
          ></a>
        </div>
        <br class="clr" />
        <div class="tab-content">
          <div class="tab-pane" id="listView">
            <app-product-list-gallery
              [categorized_product]="categorized_product"
            ></app-product-list-gallery>
          </div>

          <div class="tab-pane active" id="blockView">
            <app-product-block-gallery
              [categorized_product]="categorized_product"
            ></app-product-block-gallery>
          </div>
        </div>
        <div class="pagination">
          <ul>
            <li><a href="#">&lsaquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">&rsaquo;</a></li>
          </ul>
        </div>
        <br class="clr" />
      </div>
    </div>
  </div>
</div>
<!-- MainBody End ============================= -->
