<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <a href="register.html"
            ><img
              style="width: 100%"
              src="./../../assets/themes/images/carousel/1update.png"
              alt="special offers"
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="register.html"
            ><img
              style="width: 100%"
              src="./../../assets/themes/images/carousel/2update.png"
              alt=""
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="register.html"
            ><img
              src="./../../assets/themes/images/carousel/3update.png"
              alt=""
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="register.html"
            ><img src="./../../assets/themes/images/carousel/4.png" alt=""
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="register.html"
            ><img src="./../../assets/themes/images/carousel/5.png" alt=""
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="register.html"
            ><img src="./../../assets/themes/images/carousel/6.png" alt=""
          /></a>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"
      >&lsaquo;</a
    >
    <a class="right carousel-control" href="#myCarousel" data-slide="next"
      >&rsaquo;</a
    >
  </div>
</div>
<div id="mainBody">
  <div class="container">
    <div class="row">
      <!-- Sidebar ================================================== -->
      <app-sidebar></app-sidebar>
      <!-- Sidebar end=============================================== -->
      <div class="span9">
        <div class="well well-small'">
          <h4>
            Featured Products
            <small class="pull-right"
              >{{ featured_product.length }} featured products</small
            >
          </h4>
          <div class="row-fluid">
            <div id="featured" class="carousel slide">
              <div class="carousel-inner">
                <div
                  [ngClass]="i == 0 ? 'item active' : 'item'"
                  *ngFor="let in_row of rowLength; let i = index"
                >
                  <ul class="thumbnails">
                    <li class="span3" *ngFor="let in_col of fourProduct(i * 4)">
                      <div class="thumbnail">
                        <a href="product_details.html"
                          ><img [src]="in_col.img[0]" alt=""
                        /></a>
                        <div class="caption">
                          <h5>{{ in_col.name }}</h5>
                          <h4>
                            <a class="btn" href="product_details.html">VIEW</a>
                            <span class="pull-right">${{ in_col.price }}</span>
                          </h4>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <a
                class="left carousel-control"
                href="#featured"
                data-slide="prev"
                >‹</a
              >
              <a
                class="right carousel-control"
                href="#featured"
                data-slide="next"
                >›</a
              >
            </div>
          </div>
        </div>
        <h4>Latest Products</h4>
        <app-product-block-gallery
          [categorized_product]="categorized_product"
        ></app-product-block-gallery>
      </div>
    </div>
  </div>
</div>
