<div id="sidebar" class="span3">
  <ul id="sideManu" class="nav nav-tabs nav-stacked">
    <li
      *ngFor="let category of CATEGORY_DATA"
      [ngClass]="openSidebar == category.name ? 'open' : ''"
    >
      <a (click)="openedSidebarFunction(category.name)">
        {{ category.name }}
        <span *ngIf="category.sub_category.length > 0"
          >[{{ category.sub_category.length }}]</span
        ></a
      >
      <ul style="display: none">
        <li *ngFor="let sub_item of category.sub_category">
          <a
            routerLink="/products/category-based-products/{{ category.name }}/{{
              sub_item
            }}"
            ><i
              class="icon-chevron-right"
              [ngClass]="{ 'rotated-down': sub_item === sidebarSubCategory }"
            ></i
            >{{ sub_item }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <br />
  <div class="thumbnail">
    <img
      src="./../../../assets/themes/images/payment_methods.png"
      title="Bootshop Payment Methods"
      alt="Payments Methods"
    />
    <div class="caption">
      <h5>Payment Methods</h5>
    </div>
  </div>
</div>
